<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light shadow">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-4 p-4 border shadow">
        <h1 class="text-primary text-center">Best Cars</h1>
        <br>
        <p>
            Welcome to <b>Best Cars</b> dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
We are proud to offer a wide selection of both domestic and imported cars at unbeatable prices. Our team of experts is dedicated to providing you with the best customer service and car-buying experience possible. We understand that buying a car can be a big decision, which is why we go above and beyond to ensure that our customers are completely satisfied with their purchase. Whether you're looking for a new or used car, we have something for everyone. Visit us today and see why we are the go-to dealership for all your car-buying needs.
        </p>
    </div>
</body>
</html>