<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light shadow">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-5 p-3 border shadow d-flex justify-content-around">
        <div class="container">
            <h1 class="text-primary text-center">Best Cars</h1>
            <hr>
            <br>
            <div class="container ml-5">
                <li><b>Location: </b>Numaama Raujzuky</li>
                <li><b>Address: </b> BP, Numaama, 209 - 5756411 - Atudefeona</li>
                <li><b>Phone: </b> (849) 43-94-77-119</li>
                <li><b>Email: </b> gangula.lua@ablamail.gd</li>
                <li><b>Social Media: </b> gangula.lua/ablamedia.gd</li>
            </div>
        </div>
        <div class="container text-center">
              <table class="table table table-bordered" style="width:500px;">
                <thead class="thead text-primary">
                <th>Day</th>
                <th>Hours</th>
                </thead>
                <tbody class="table table-striped">
                    <tr>
                        <td>Monday</td>
                        <td>9:00 AM - 5:00 PM</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>9:00 AM - 5:00 PM</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>9:00 AM - 5:00 PM</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>9:00 AM - 5:00 PM</td>
                    </tr>
                    <tr>
                        <td>Friday</td<>
                        <td>9:00 AM - 5:00 PM</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>Closed.</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>Closed.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>